@font-face {
  font-family: myFirstFont;
  src: url(../fonts/ProphetMedium.otf);
}

*{
  margin: 0px;
}

body{
  padding: 20px;
  font-family: myFirstFont, sans-serif;
  font-size: 64px;
  font-weight: 400;
  color:white;
  background-color:#00A0E9;
  /* background-color: #808080; */
/* #0af2ff; */
}

.map{
  position: absolute;
  left:0; right:0;
  top:0vh; bottom:50vh;
  margin:auto;
  max-width: 25%;
  max-height: 25%;

  /* overflow:hidden; */
 
}

.gd18{
  float: left;
  clear: both;
  /* color: black; */
  color: white;
}


.cls-1{
  fill:#0af2ff;
  /* stroke:black; */
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;
  transition: all ease-in-out .2s;
}
.cls-1:hover{
  fill:white;
  stroke-width:40px;
}
.cls-2{
  fill:#0af2ff;
  /* stroke:black; */
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;
  transition: all ease-in-out .2s;
}
.cls-2:hover{
  fill:white;
  stroke-width:40px;
}
.cls-3{
  fill:#0af2ff;
  /* stroke:black; */
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;
  transition: all ease-in-out .2s;
}
.cls-3:hover{
  fill:white;
  stroke-width:40px;
}
.cls-4{
  fill:#0af2ff;
  /* stroke:black; */
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;
  transition: all ease-in-out .2s;
}
.cls-4:hover{
  fill:white;
  stroke-width:40px;
}
.cls-5{
  fill:none;
   /* stroke:black; */
   stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;
}
.cls-6{
  fill:none;
  /* stroke:black; */
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:30px;